<h1>Testing Components</h1>

<!-- CHECKBOX -->
<h2>Checkbox</h2>

<h3>NgModel</h3>
<label>
  <input type="checkbox" [(ngModel)]="checkValue"> Testing in app.
</label>
<br>
<br>
<app-checkbox [(ngModel)]="checkValue"> Testing Checkbox component</app-checkbox>
<br>
<pre>checkValue = {{ checkValue | json }}</pre>

<h3>Reactive Forms</h3>
<form [formGroup]="myForm">
  <button (click)="toggleFormValue();">Toggle value from app</button>
  <br>
  <br>
  <app-checkbox formControlName="val"> Testing Checkbox</app-checkbox>
  <br>
  <pre>myForm.value = {{ myForm.get('val').value | json }}</pre>
</form>

<!-- SWITCH -->
<h2>Switch</h2>

<h3>NgModel</h3>
<app-switch [(ngModel)]="checkValue" [label]="'My Switch'"></app-switch>
<br />
<pre>checkValue = {{ checkValue | json }}</pre>

<h3>Reactive Forms</h3>
<form [formGroup]="myForm">
  <app-switch formControlName="val" [label]="'My Switch'"></app-switch>
  <pre>myForm.value = {{ myForm.get('val').value | json }}</pre>
</form>

<!-- Material Checkbox -->
<h2>Checkbox take 2</h2>
<h3>NgModel</h3>
<mat-checkbox [(ngModel)]="checkValue">
  Testing another checkbox
</mat-checkbox>
<h3>Reactive Forms</h3>
<form [formGroup]="myForm">
  <mat-checkbox formControlName="val">Testing another checkbox</mat-checkbox>
</form>
